<% provide(:question, 'class=active') %>
<% provide(:list_size, 'class=span11') %>
<% provide(:write_path, question_new_path) %>
<div class="notice-show">
    <%= render :partial => "knowledges/notice" %> 
</div>
<div class="row-fluid">
    <div class="row-fluid">
        <%= render :partial => "knowledges/write" %> 
    </div>
    <div class="row-fluid">
        <div class="span8 offset2">
            <%= render :partial => "question_list", :locals => { :questions => @question } %> 
        </div>
    </div>
</div>
<%= render :partial => "knowledges/script" %> 


