<div class="span8" style="margin-left:5px">
  <div class="row-fluid"></div>
  <%if !blogs.nil?%>
    <%blogs.each do|q| %>
        <%= render :partial => "blogs/blog_each", :locals => { :q => q } %> 
    <%end%>
    <div class="row-fluid center span12 offset1">
      <div style="padding-bottom:50px">
        <%= will_paginate blogs %>
      </div>
    </div>
  <%end%>
</div>