<% provide(:write_path, blog_new_path) %>
<% provide(:title, @knowledge.title)%>
<%= render :partial => "knowledges/notice" %> 
<div class="row-fluid" style="margin-top:50px">
    <div class="span8 offset2">
        <%= render :partial => "blogs/blog_content",:locals => {}%>
        <%= render :partial => "blogs/blog_aside",:locals => { :knowledge => @knowledge }%>
    </div>
</div>

<%= render :partial => "knowledges/script" %> 


