<div id="sidebar-left" class="span2">
	<div class="nav-collapse sidebar-nav">
        <div class="container">
            <div class="row">
                <div class="span2">
                    <ul class="nav nav-tabs nav-stacked main-menu">
                        <li><%= link_to "学院管理", departments_path,method: :get%></li>
                        <li><%= link_to "课程管理", "#" %></li>
                        <li><%= link_to "关键词管理",  "#"%></li>
                        <li><%= link_to "修改账户",  admin_edit_path%></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>