<% provide(:title, '专业管理') %>
<div id="container"> 
    <!--headerleft --> 
    <div id="header">
        
    </div> 
    <div id="left">
        <%= render :partial => "admins/row_nav" %>
    </div> 

    <div id="right"> 
        
        <%= render :partial => "departments/form" %>
        
       
    </div> 
</div> 