<% provide(:title, '管理员账户修改') %>
<div id="container-fluid-full"> 
    <!--headerleft --> 
    <div id="row-fluid">
      <div id="header">
          
      </div> 
  
      <!--<div id="sidebar-left" class="span2">-->
      <%= render :partial => "admins/row_nav" %>
      <!--</div> -->
  

      <div id="content" class="span10
        
        <%= render :partial => "admins/form_edit" %>
      </div> 
    </div>
</div> 

<div class="clearfix"></div>