<% provide(:title, '资源聚合平台后台') %>
<div id="container-fluid-full"> 
    <!--headerleft --> 
    <div id="row-fluid">
      <div id="header">
          
      </div> 
  
      <!--<div id="sidebar-left" class="span2">-->
      <%= render :partial => "admins/row_nav" %>
      <!--</div> -->
  

      <div id="content" class="span10">
        <div id="taskform">
          欢迎你 管理员
        </div>

      </div> 
    </div>
</div> 

<div class="clearfix"></div>