<% provide(:title, '资源聚合平台后台') %>
<div id="container"> 
    <!--headerleft --> 
    <div id="header">
        
    </div> 
    <div id="left">
        <%= render :'admins/row_nav' %>
    </div> 

    <div id="right"> 
        
    </div> 
</div> 
