<% provide(:title, '资源聚合平台后台') %>
<div id="container"> 
    <!--headerleft --> 
    <div id="header">
        
    </div> 
    <div id="left">
        <%= render :partial => "admins/row_nav" %>
    </div> 

    <div id="right"> 
        
            <div id="taskform">

            </div>

            <!--<%= link_to "button", admins_ajaxtest_path, remote: true %>-->
       
    </div> 
</div> 