<header>
  <h1>这里是导航</h1>
  <div class="nav-section">
    <nav>
      <ul>
        <li><%= link_to "主页", course_pages_home_path %></li>
        <li><%= link_to "专栏区", course_pages_blog_path %></li>
        <li><%= link_to "问题区", course_pages_question_path %></li>
        <li><%= link_to "资源区",  course_pages_resource_path%></li>
      </ul>
    </nav>
  </div>
</header>