<!-- start: Main Menu -->
<div id="sidebar-left" class="span2">
	<div class="nav-collapse sidebar-nav">
		<ul class="nav nav-tabs nav-stacked main-menu">
			<li><div style="height:50px"/></li>
			<li><a href="<%= user_path(current_user)%>"><i class="icon-user"></i><span class="hidden-tablet"> 个人主页</span></a></li>
			<li>
				<a class="dropmenu" href="#"><i class="icon-edit"></i><span class="hidden-tablet"> 修改信息</span></a>
				<ul>
					<li><a class="submenu" href="<%= edit_user_path(current_user)%>"><i class="icon-edit"></i><span class="hidden-tablet"> 个人信息修改</span></a></li>
					<li><a class="submenu" href="#"><i class="icon-edit"></i><span class="hidden-tablet"> 修改密码</span></a></li>
				</ul>	
			</li>
			<li><a href="<%= edit_user_config_path(current_user)%>"><i class="icon-cogs"></i><span class="hidden-tablet"> 个人设置</span></a></li>
			<hr/>
			<li>
				<a class="dropmenu" href="#"><i class="icon-bell"></i><span class="hidden-tablet"> 消息通知</span><span class="label label-important" style="margin-left:30px"> 3 </span></a>
				<ul>
					<li><a class="submenu" href="submenu.html"><i class="icon-star"></i><span class="hidden-tablet"> 关注资源</span></a></li>
					<li><a class="submenu" href="submenu2.html"><i class="icon-signin"></i><span class="hidden-tablet"> 回复我的</span></a></li>
				</ul>	
			</li>
			<li><a class="submenu" href="submenu3.html"><i class="icon-calendar"></i><span class="hidden-tablet"> 关注的用户</span></a></li>
			<li><a class="submenu" href="submenu3.html"><i class="icon-calendar"></i><span class="hidden-tablet"> 粉丝</span></a></li>
			<hr/>
			<li><a class="submenu" href="submenu3.html"><i class="icon-calendar"></i><span class="hidden-tablet"> 我的课程</span></a></li>
			<li><a href="form.html"><i class="icon-rss"></i><span class="hidden-tablet"> 我发布的资源</span></a></li>
			<li><a href="form.html"><i class="icon-map-marker"></i><span class="hidden-tablet"> 知识图谱</span></a></li>
			
		</ul>
	</div>
</div>
<!-- end: Main Menu -->