<% provide(:title, '新建教授关系') %>
<div class="container-fluid-full"> 

    <div class="row-fluid">
      <%= render :partial => "admins/row_nav" %>
      <div id="content" class= "row-fluid shadow-box min-height-control" data-min-height='680'>
        <h1>为教师添加教授课程</h1>
        
        
        <%= render 'form_teacher_course', course_teacher_association: @course_teacher_association %>
        
        <%= link_to '返回', teacher_path(@teacher) %>
      </div> 
    </div>
</div> 

<div class="clearfix"></div>