<% provide(:resource, 'class=active') %>
<% provide(:write_path, resource_new_path) %>
<div class="notice-show">
    <%= render :partial => "knowledges/notice" %> 
</div>
<%= render :partial => "knowledges/write" %> 

<div class="span10 offset2">
    <%= render :partial => "resource_list", :locals => { :resources => @resource } %> 
</div>
<%= render :partial => "knowledges/script" %> 


