        

<% provide(:title, '关联到课程...') %>
<div class="container-fluid-full"> 

    <div class ='row-fluid'>
      <%= render :partial => "admins/row_nav" %>
      <div id="content" class="span10 row-fluid shadow-box min-height-control" data-min-height="680">
        <h1>关联到课程</h1>
        
        
        <%= render 'form_courses_keywords', course_keyword_association: @keyword_course_association %>
        
        <%= link_to '返回', keyword_path(@keyword) %>
      </div> 
    </div>
</div> 

<div class="clearfix"></div>