        

<% provide(:title, '新建关键字') %>
<div class="container-fluid-full"> 

    <div class ='row-fluid'>
      <%= render :partial => "admins/row_nav" %>
      <div id="content" class="span8">
        <h1>新建关键字</h1>
        <hr>
        
        <%= render 'form', keyword: @keyword %>
        
        <%= link_to '返回', keywords_path %>
      </div> 
    </div>
</div> 

<div class="clearfix"></div>
