<header>
  <h1>这里是导航</h1>
  <div class="nav-section">
    <nav>
      <ul>
        <li><%= link_to "主页", home_course_path(:id) %></li>
        <li><%= link_to "专栏区", blog_course_path(:id) %></li>
        <li><%= link_to "问题区", question_course_path(:id) %></li>
        <li><%= link_to "资源区",  resource_course_path(:id)%></li>
      </ul>
    </nav>
  </div>
</header>