

<% provide(:title, '编辑课程信息') %>
<div class="container-fluid-full"> 

    <div class="row-fluid">
      <%= render :partial => "admins/row_nav" %>
      <div id="content" class="span8">
        <h1>编辑课程信息</h1>
        <hr>
        

        <%= render 'form', course: @course %>
     
        
        <%= link_to '详情', @course %> |
        <%= link_to '返回', courses_path %>
      </div> 
    </div>
</div> 

<div class="clearfix"></div>
