<% provide(:title, '新建课程') %>
<div class="container-fluid-full"> 

    <div class="row-fluid">
      <%= render :partial => "admins/row_nav" %>
      <div id="content" class="span8">
        <h1>New Course</h1>
        
        <%= render 'form', course: @course %>
        
        <%= link_to 'Back', courses_path %>
      </div> 
    </div>
</div> 

<div class="clearfix"></div>