<% provide(:title, '关联课程到学院') %>
<div class="container-fluid-full"> 

    <div class="row-fluid">
      <%= render :partial => "admins/row_nav" %>
      <div id="content" class="span8">
        <h1>关联课程到学院</h1>
        <hr>
      
        <p id="notice"><%= notice %></p>
        <%= render 'form_dept_course', course_department_association: @course_department_association %>
        
        <%= link_to '返回', courses_course_departments_index_path(@course) %>
      </div> 
    </div>
</div> 

<div class="clearfix"></div>