<span class="row-fluid">
	<% for keyword in hasChoose %>  
    	<div style="display:inline">
    	    <%= check_box_tag 'keywords[]', keyword.id,checked: :true%>
            <%= keyword.name %>
        </div>
	<%end%>
</span>