<span class="row-fluid">
	<% for course in hasChoose %>  
    	<div style="display:inline">
            <%= check_box_tag 'courses[]', course.id,checked: :true %>
            <%= course.course_name %>
        </div>
	<%end%>
</span>