<%hasChoose = knowledge.courses%>
<div class="row-fluid">
	<div id="hasChooseCourse" class="span6">
		<%=render(:partial => "choose_course",  :locals => { :hasChoose => hasChoose})%>
	</div>
</div>
<div class="row-fluid">
    <div id="departmentDiv" class="span4">
        <%=render(:partial => "department_select")%>
    </div>
    <div id="SpecialityDiv" class="span4">
    </div>
    <div id="CourseDiv" class="span4">
    </div>
</div>
