<%focus = knowledge.followers.where(:id => current_user).first %>
<% if focus %>
  <%= link_to unfocus_path(tempknowledge: knowledge,tempuser: current_user), remote: true,:id => 'focus_content' do %>
    <span>已关注</span>
  <% end %>
<% else %>
  <%= link_to focus_path(tempknowledge: knowledge,tempuser: current_user), remote: true,:id => 'focus_content' do %>
    <span>关注</span>
  <% end %>
<% end %>
