<div class="answer-grid">
    <div class = "answer-content"  style="margin-top:20px">
          <%@reply = Reply.new%>
          <%= render :partial => 'replies/form',:locals => { :topic => knowledge },reply: @reply%>
    </div>
</div>