<div class = "container-fluid-full">
    <div class="row-fluid" style="margin-top:30px">
        <div class="span2 offset5">
            <button id="newButton" type="button" class="btn btn-small btn-warning" style="width:268px;height:40px;border-radius:16px!important;">
               <% if log_in?%>
                 <%=link_to yield(:write_path),method: :get do%>
                   <i class="halflings-icon white edit"></i>
                   <p style="display:inline;font-size:14px"><strong>我要发布</strong></p>
                 <%end%>
              <%else%>
                 <%= link_to login_path(:message => "请先登录") do%>
                    <i class="halflings-icon white edit"></i>
                    <p style="display:inline;font-size:14px"><strong>我要发布</strong></p>
                 <%end%>
              <%end%>
            </button> 
        </div>
    </div>
    <div class="row-fluid" style="height:50px">
    </div>
</div>