// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


<<<<<<< HEAD
header{
    
}
.content{
   margin-left:200px;
}
.course-info{
   position:related;
}
.boutique{
   position:related;
   margin-top:50px;
}
.boutique-content{
   position:related;
   margin-top:30px;
}

#content {
  height: -webkit-fill-available;
}
=======
>>>>>>> 29e07fbf8031abf89006a4ff6686b496a09c00fb
