// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

header{
    
}
.course-info{
   position:related;
   margin-top:50px;
   margin-left:200px;
}
.boutique{
   position:related;
   margin-top:50px;
   margin-left:200px;
}
.boutique-content{
   position:related;
   margin-top:30px;
   margin-left:40px;
}
