
/* universal */

section {
    overflow: auto;
}
textarea {
    resize: vertical;
}
.center {
    text-align: center;
}
.center h1 {
    margin-bottom: 10px;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}
h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
}
h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #777;
}
p {
    font-size: 1.1em;
    line-height: 1.7em;
}

hr {
    background-color:grey;
}

a {
    cursor: pointer;
}

#content {
    background-color:transparent;
}

/* header */
#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
}
#logo:hover {
    color: #fff;
    text-decoration: none;
}
.nav-fix-top {
    position:fix;
}

.shadow-box {
    background-color:white;
    box-shadow: 2px 1px 2px #BFBFBF;
}

.normal-hr{
    height:1px;
    border:none;
    border-top:1px solid #000;
    opacity:0.3;
    margin:5px;
}

.inline-block{
    display: inline-block;
}

.inline{
    display: inline;
}

.no-hover:hover{
    text-decoration:none;
}

.blog-intro{
    margin-top:-5px;
    padding-top:7px;
    padding-left:2px;
}
.question-intro{
    margin-top:-5px;
    padding-top:7px;
    padding-left:2px;
}
.resource-intro{
    margin-top:-5px;
    padding-top:7px;
    padding-left:2px;
}

.blog-intro .intro-title{
    margin-left:20px;
}
.question-intro .intro-title{
    margin-left:20px;
}
.resource-intro .intro-title{
    margin-left:20px;
}

.blog-intro a{
    padding-top:3px;
}
.question-intro a{
    padding-top:3px;
}
.resource-intro a{
    padding-top:3px;
}

.blog-intro img{
    padding-bottom:4px;
}
.question-intro img{
    padding-bottom:4px;
}
.resource-intro img{
    padding-bottom:4px;
}

.blog-intro p{
    font-size:1.2em;
    margin: 0;
}
.question-intro p{
    font-size:1.2em;
    margin: 0;
}
.resource-intro p{
    font-size:1.2em;
    margin: 0;
}

.blog-content{
    padding-left:20px;
    display:table;
    margin-bottom:10px;
}
.question-content{
    padding-left:20px;
    display:table;
    margin-bottom:10px;
}
.resource-content{
    padding-left:20px;
    display:table;
    margin-bottom:10px;
}

.blog-content .cell{
    display: table-cell;
    vertical-align: middle;
}
.question-content .cell{
    display: table-cell;
    vertical-align: middle;
}
.resource-content .cell{
    display: table-cell;
    vertical-align: middle;
}

.blog-content .digest-text p{
    font-size:1.1em;
    
    color:#888;
}
.question-content .digest-text p{
    font-size:1.1em;
    
    color:#888;
}
.resource-content .digest-text p{
    font-size:1.1em;
    
    color:#888;
}

.bad_btn{
    width:70%;
    height:25px;
    background-color: #d6d6d6;
    margin-top:5px;
    font-size:1.2em;
    border-radius:3px;
}

.good_btn{
    width:70%;
    height:25px;
    background-color: #d6d6d6;
    margin-bottom:5px;
    border-radius:2px;
    font-size:1.2em;
    border-radius:3px;
}

.like_value{
    width:70%;
    height:25px;
    background-color: #d6d6d6;
    margin-bottom:5px;
    font-size:1.2em;
    border-radius:3px;
}

.ping{
    font-size: 0.8em;
    cursor: pointer;
}

.knowledge-header{
    padding-left: 30px;
}

.knowledge-footer{
    padding-left: 30px;
}


.knowledge-content{
    padding-left: 30px;
}

.knowledge-reply{
    padding-left: 30px;
}

.knowledge-reply p{
    font-size:14px;
    padding-top:10px;
    padding-left:10px;
    padding-bottom:10px;
    line-height:120%;
}

.knowledge-content p{
    font-size:16px;
    padding-top:10px;
    padding-bottom:10px;
    line-height:150%;
}

.reply-block{
    margin-top:10px;
}

.header-search-block{
    height:30px;
    padding-top:1px;
    width:192px;
    margin-bottom:0;
    background-color:#FAFAFA;
    border:1px solid #748185;
    border-radius: 3px;
}


.header-input{
    display:inline-block !important;
    background-color:#FAFAFA !important;
    width:150px !important;
    height:22px !important;
    border:none !important;
    border-radius: 3px;
}

#header-submit{
    background-color:#FAFAFA;
    color: grey;
    width:30px;
    height:30px;
}

#header-submit i{
    margin-top:6px;
    color: grey;
}

.course-introduction p{
    font-size:1.1em;
    padding-top:10px;
    padding-left:10px;
    padding-bottom:10px;
    line-height:200%;
}

.main-dropitem{
    cursor: pointer;
    
}

.main-dropitem:hover{
    background-color: #578ebd;
    color: #fff;
}
