
/* universal */

section {
    overflow: auto;
}
textarea {
    resize: vertical;
}
.center {
    text-align: center;
}
.center h1 {
    margin-bottom: 10px;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}
h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
}
h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #777;
}
p {
    font-size: 1.1em;
    line-height: 1.7em;
}

hr {
    background-color:grey;
}

#content {
    background-color:transparent;
}

/* header */
#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
}
#logo:hover {
    color: #fff;
    text-decoration: none;
}
.nav-fix-top {
    position:fix;
}




