/* user page*/
.user-info-digest {
    border-left:5px solid red;
    padding-left:30px
}

.user-info-digest p{
    font-size: 1.2em;
}

.user-info-digest h3{
    font-size: 1.5em;
    display: inline-block;
}

.user-info-digest .focus_link{
    font-size: 1em;
    padding-left: 5px;
}


.user-info-detail div p{
    font-size: 1.3em;
    line-height: 1.5em;
    padding-bottom: 0.2em;
}
.user-info-detail .user-info-padded{
  padding-left: 10em;
}

.user-info-detail-inline p{
  display: inline-block;
}

.user-info-detail-inline ul{
  display: inline-block;
}

.plain-label{
 display: inline; 
}

.user-form .user-form-controller .inline-block{
  display: inline;
  
}

.user-form .user-form-controller .input{
  height: 1.8em;
  font-size:1.2em;
}
